<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<!-- 오라클 널 허용 컬럼 오류 처리 -->
	<settings>
		<setting name="cacheEnabled" value="false" />
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>

	<typeAliases>
		<package name="com.dy.domain" />
		<package name="com.dy.common.domain" />
		<!-- <typeAlias type="com.dy.domain.CommentVO" alias="CommentVO" /> -->
	</typeAliases>

</configuration>
